$padding-inside: 0px 0px 0px 10px;
    
body 
    
    width: 100%
    height: 100%
    margin: 0
    color: white
    text-shadow: 1px 2px black
    display: flex
    justify-content: center
    align-items: center
    font-family: Verdana, Geneva, Tahoma, sans-serif

    .container
        display: flex
        align-items: flex-start
        width: 80vw
        height: 100vh
        background-color: #21222298 
        flex-flow: column
        padding: $padding-inside
        .current
            border: 1px solid black
            .search
                margin-top: 30px
                order: 0 
                .search-bar
                    width: 370px
                .results
                    width: 370px
                    height: auto
                    //border: 1px solid white
                    border-radius: 0.5rem
                    background-color: rgba(255, 255, 255, 0.397)
                    .places
                        padding: 10px 0px 10px 10px
                        //margin: 5px 0px 5px 5px
                        cursor: pointer
                    .places:hover
                        background-color: rgba(114, 112, 112, 0.548)

                .hide-results
                    visibility: hidden 
                    height: 0
            .city 
                font-size: 1.5rem
                margin: 40px 0px 10px 0px
            .temp
                font-size: 3rem
            .description
                display: flex
                align-content: center
            .state
                font-size: 2rem
                float: right
                margin-top: 6px

            .sub-state
                font-size: 1.1rem
                text-transform: capitalize
                margin: 0px 0px 0px 20px

            .icon
                padding: 0px 10px 0px 0px

            input:hover
                box-shadow: 0px 0px 1px 1px black
        .hourly
            border: 1px solid black
            width: 500px
            height: 170px 
        .daily
            border: 1px solid black
            width: 500px
            height: 170px   
input
    height: 1.5rem
    border: none
    border-radius: 1rem
    
